.content_title_area
  .ct_left
    %h1 Group Management
  .ct_right
    = link_to 'New Group', new_setting_group_path, :class => 'button btn-new'

= render 'search'
= will_paginate @groups

%table.list
  %tr
    %th= sort_link @search, :name, {:show => @show}
    %th Options
  - for group in @groups
    %tr{:class => cycle('odd','even')}
      %td= group.name
      %td.list_options
        = link_to 'Edit', edit_setting_group_path(group)
        = link_to 'Delete', setting_group_path(group),
          :confirm => "Are you sure you want to destroy #{group.name}?", :method => :delete