-# This menu is built with superfish
-# http://users.tpg.com.au/j_birch/plugins/superfish/

-# $.fn.superfish.defaults = {
-#    hoverClass:    'sfHover',          // the class applied to hovered list items
-#    pathClass:     'overideThisToUse', // the class you have applied to list items that lead to the current page
-#    pathLevels:    1,                  // the number of levels of submenus that remain open or are restored using pathClass
-#    delay:         800,                // the delay in milliseconds that the mouse can remain outside a submenu without it closing
-#    animation:     {opacity:'show'},   // an object equivalent to first parameter of jQuery’s .animate() method
-#    speed:         'normal',           // speed of the animation. Equivalent to second parameter of jQuery’s .animate() method
-#    autoArrows:    true,               // if true, arrow mark-up generated automatically = cleaner source code at expense of initialisation -# performance
-#    dropShadows:   true,               // completely disable drop shadows by setting this to false
-#    disableHI:     false,              // set to true to disable hoverIntent detection
-#    onInit:        function(){},       // callback function fires once Superfish is initialised – 'this' is the containing ul
-#    onBeforeShow:  function(){},       // callback function fires just before reveal animation begins – 'this' is the ul about to open
-#    onShow:        function(){},       // callback function fires once reveal animation completed – 'this' is the opened ul
-#    onHide:        function(){}        // callback function fires after a sub-menu has closed – 'this' is the ul that just closed
-# };

-# Standard call - not using this because we are using supersubs
-#  $(document).ready(function() {
-#      $('ul.sf-menu').superfish({
-#          delay:       600,                             // one second delay on mouseout
-#          animation:   {opacity:'show',height:'show'},  // fade-in and slide-down animation
-#          speed:       'fast'                           // faster animation speed
-#      });
-#  });

:javascript
  $(document).ready(function(){
          $("ul.sf-menu").supersubs({
              minWidth:   12,    // minimum width of sub-menus in em units
              maxWidth:   27,    // maximum width of sub-menus in em units
              extraWidth: 2      // extra width can ensure lines don't sometimes turn over
                                 // due to slight rounding differences and font-family
          }).superfish({
              delay:      600,
              speed:      'fast'
          });                    // call supersubs first, then superfish, so that subs are
                                 // not display:none when measuring. Call before initialising
                                 // containing tabs for same reason.
  });

%ul.sf-menu
  %li= link_to 'Home', root_path
  %li= link_to 'Entries', entries_path
  %li
    = link_to 'Settings', '#', :onclick => 'return false'
    %ul
      %li= link_to "Entry Types", setting_entry_types_path
      %li= link_to "Groups", setting_groups_path
      %li= link_to "Statuses", setting_statuses_path      
