!!!
%html
  %head
    %title Taganoid
    = stylesheet_link_tag 'application', 'jquery-ui-smoothness', 'pictos'
    = javascript_include_tag 'application'
    = favicon_link_tag
    = csrf_meta_tag
    = yield(:head)

  %body
    #container

      #header
        = render 'layouts/header'

      #navigation
        = render 'layouts/navigation'

      #main

        #flash
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"

        = yield

      #footer= render 'layouts/footer'